.gitignore

*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.byte
*.native

_build/

graph/

semirings/*.annot
semirings/*.cmo
semirings/*.cma
semirings/*.cmi
semirings/*.a
semirings/*.o
semirings/*.cmx
semirings/*.cmxs
semirings/*.cmxa
semirings/*.byte
semirings/*.native
semirings/_build/
