*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.byte
*.native

_build/

graph/

Semiring/*.annot
Semiring/*.cmo
Semiring/*.cma
Semiring/*.cmi
Semiring/*.a
Semiring/*.o
Semiring/*.cmx
Semiring/*.cmxs
Semiring/*.cmxa
Semiring/*.byte
Semiring/*.native
Semiring/_build/
